header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 20px black;
    
}
li{
    display:inline-block ;
    margin: 1rem;
    cursor:pointer
}